html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F5F7F8;
}

.main-image {
    position: relative;
    background: url(https://docs.cat.town/~gitbook/image?url=https%3A%2F%2Fcontent.gitbook.com%2Fcontent%2FRiCfHLy54m0G8KYbVa7Q%2Fblobs%2F4r42nKLzKaCJVvM0K7DX%2Fbanner.png&width=1248&dpr=1&quality=100&sign=3cd8c758&sv=1) no-repeat center;
    background-size: cover;
    height: 200px;
    overflow: hidden;
   
}

.intro{
    text-align: center;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000022; /* Dark grey color */
    text-align: center;
    border-bottom: 2px solid #F5F7F8; /* Underline effect */
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000022; /* Dark grey color */
    margin-bottom: 10px;
    text-indent: 30px;
}
/* Style for the list container */
.list-container {
    font-family: Arial, sans-serif;
    width: 100%; /* Set the container to full width */
    max-width: 1000px; /* Limit the maximum width for better readability */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 6px 6px 12px #bebebe,
                -6px -6px 12px #ffffff;
}

/* Style for list items */
.list-item {
    margin-bottom: 15px; /* Match margin with paragraphs */
    font-family: Arial, sans-serif; /* Apply font family */
    font-size: 16px; /* Apply font size */
    line-height: 1.6; /* Apply line height */
    color: #000022; /* Apply color */
}

/* Style for list headings */
.list-heading {
    font-size: 1.2em;
    font-weight: bold; /* Bold the list headings */
    margin-bottom: 10px;
    color: #000022; /* Set color to black */
}

/* Style for list details */
.list-details {
    margin-left: 20px;
}

/* Style for list items */
.list-details ul {
    list-style-type: none; /* Remove default list style */
    margin-left: 0;
    padding-left: 0;
}

.list-details ul li {
    margin-bottom: 10px; /* Match margin with paragraphs */
    padding-left: 20px; /* Add space for the bullet */
    position: relative;
}

.list-details ul li::before {
    content: "\2022"; /* Unicode character for bullet (•) */
    color: #000022; /* Bullet color */
    font-size: 1.2em; /* Adjust bullet size if needed */
    position: absolute;
    left: 0;
    top: 4px; /* Adjust vertical alignment */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .list-container {
        padding: 10px;
    }
    .list-details {
        margin-left: 10px;
    }
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #191b1d;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: -30px;
}

.container h1 {
    margin: 0;
    font-size: 48px;
}

.container h1 span {
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 22px;
}

/* Style the navigation menu */
[data-tab-info] {
    display: none;
  }

  .active[data-tab-info] {
    display: block;
  }

  .tab-content {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
  }
  .tabs-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 1rem;
    
  }
  .tabs {
    margin-top: 1rem;
    
    padding: 1.2rem;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    background-color: rgb(243, 149, 102);
    width: 35vh;
    height: 1vh;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
          rgba(245, 73, 144, 0.5) 5px 10px 15px;
    
  }
  .tabs span {
    outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(233, 233, 233);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  margin-left: 1vh;
  margin-right: 1vh;
}

  .tabs span:hover {
    background: rgb(243, 149, 102);
    cursor: pointer;
    color: rgb(255, 255, 255);
    .button:hover {
        transform: translateY(-5px);
      }
      
  }

/* Style for the main content */
.tab-content {
    min-height: calc(100vh - 100px); /* Ensure content fills at least the viewport height minus footer height */
    padding: 20px; /* Example padding for content */
}
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hyperlink-list-container {
    text-align: center; /* Center align the entire container */
    max-width: 90%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /* Add padding to the sides for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.hyperlink-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 10px 0; /* Optional margin */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Wrap items to next line on smaller screens */
}

.hyperlink-list li {
    margin: 0.5rem 1rem; /* Adjust horizontal margin between list items */
    
}

.hyperlink-list li a {
    display: inline-block; /* Make links inline-block for better alignment */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set link color */
    font-size: 14px; /* Set font size */
    font-weight: bold; /* Set font weight */
    padding: 10px 15px; /* Add padding inside links */
    border-radius: 4px; /* Add rounded corners */
    background-color: #f0f0f0; /* Set background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hyperlink-list li a:hover {
    background-color: #ddd; /* Darken background on hover */
}

.footer {
    position: relative; /* Fixed position */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    background-color: #fc874d;
    color: #f5f7f8;
    padding: 20px 0;
    text-align: center; /* Center align text */
    z-index: 1;
}

.footer-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center align vertically */
    max-width: 1200px; /* Limit maximum width */
    margin: 0 auto; /* Center align horizontally */
}
.parent-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}
.footer-content {
    margin-bottom: 15vh; /* Space between paragraph and buttons */
    text-align: center;
    background-color: white;
    margin-top: 2rem;
    padding: 20px;
    width: 35vh;
    height: 254px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 6px 6px 12px #bebebe,
                -6px -6px 12px #ffffff;
}

.footer-content p {
    font-size: 1em;
    line-height: 1.6;
    font-weight: bold;
}

.button-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align buttons horizontally */
    align-items: center; /* Center align buttons vertically */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add spacing between buttons */
}

.button:hover {
    background-color: #cdcdcd;
    
}

.crypto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 25vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 6px 6px 12px #bebebe,
                -6px -6px 12px #ffffff;
}

.converter-container {
    width: 100%;
    
}

.converter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.converter-row select,
.converter-row input[type="number"] {
    flex: 1;
    margin: 0 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.converter-row input[type="number"] {
    text-align: center;
}

@media (max-width: 600px) {
    .converter-row {
        flex-direction: column;
        align-items: stretch;
    }

    .converter-row select,
    .converter-row input[type="number"] {
        margin: 5px 0;
        width: 100%;
    }
}
.buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
   
  }
#playBtn{
  text-indent: 0;

}
  
  .buttons button {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #568fa6;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .buttons button:before, .buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .buttons button span:before, .buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .buttons button p:before, .buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #44d8a4;
  }
  
  .buttons button:hover:before, .buttons button:hover:after {
    width: 100%;
  }
  
  .buttons button:hover span {
    z-index: 1;
  }
  
  .buttons button:hover span:before, .buttons button:hover span:after {
    height: 100%;
  }
  
  .buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button.start {
    background-color: #44d8a4;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }
  
  .buttons button.start:hover:before, .buttons button.start:hover:after {
    display: none;
  }
  
  .buttons button.start:hover span {
    display: none;
  }
  
  .buttons button:active {
    outline: none;
    border: none;
  }
  
  .buttons button:focus {
    outline: 0;
  }

  .faq-tab{
    padding: 1rem;
    margin-bottom: 15vh;
    border-radius: 8px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 6px 6px 12px #bebebe,
                -6px -6px 12px #ffffff;
  }

.footer-buttons{
align-items: center;
 background-color: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: .25rem;
 box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.85);
 cursor: pointer;
 display: inline-flex;
 font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
 font-weight: 600;
 justify-content: center;
 line-height: 1.25;
 min-height: 1.5rem;
 padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 text-decoration: none;
 transition: all 250ms;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: baseline;
 width: auto;
}

.footer-buttons:hover,
#bottone5:focus {
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
 color: rgba(0, 0, 0, 0.65);
}

.footer-buttons:hover {
 transform: translateY(-1px);
}

.footer-buttons:active {
 background-color: #F0F0F1;
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
 color: rgba(0, 0, 0, 0.65);
 transform: translateY(0);
}